    .image-bgr {
        background-image: url('../../assets/images/bg_1.jpg');
    }
    
    .bgr3 {
        background-image: url('../../assets/images/bg_3.jpg');
    }
    
    .anh1 {
        background-image: url('../../assets/images/pizza-1.jpg')
    }
    
    .anh2 {
        background-image: url('../../assets/images/pizza-2.jpg')
    }
    
    .anh3 {
        background-image: url('../../assets/images/pizza-3.jpg')
    }
    
    .anh4 {
        background-image: url('../../assets/images/pizza-4.jpg')
    }
    
    .anh5 {
        background-image: url('../../assets/images/pizza-5.jpg')
    }
    
    .anh6 {
        background-image: url('../../assets/images/pizza-6.jpg')
    }
    
    .anh7 {
        background-image: url('../../assets/images/pizza-7.jpg')
    }
    
    .anh8 {
        background-image: url('../../assets/images/pizza-8.jpg')
    }
    
    .anhabout {
        background-image: url('../../assets/images/about.jpg')
    }
    
    .person1 {
        background-image: url('../../assets/images/person_1.jpg');
    }
    
    .person2 {
        background-image: url('../../assets/images/person_2.jpg');
    }
    
    .person3 {
        background-image: url('../../assets/images/person_3.jpg');
    }
    
    .person4 {
        background-image: url('../../assets/images/person_4.jpg');
    }
    
    .bgr2 {
        background-image: url('../../assets/images/bg_2.jpg');
    }
    
    .image_1 {
        background-image: url('../../assets/images/image_1.jpg');
    }
    
    .image_2 {
        background-image: url('../../assets/images/image_2.jpg');
    }
    
    .image_3 {
        background-image: url('../../assets/images/image_3.jpg');
    }
    
    .image_4 {
        background-image: url('../../assets/images/image_4.jpg');
    }
    
    .image_5 {
        background-image: url('../../assets/images/image_5.jpg');
    }
    
    .image_6 {
        background-image: url('../../assets/images/image_6.jpg');
    }
    
    .gallery1 {
        background-image: url('../../assets/images/gallery-1.jpg');
    }
    
    .gallery2 {
        background-image: url('../../assets/images/gallery-2.jpg');
    }
    
    .gallery3 {
        background-image: url('../../assets/images/gallery-3.jpg');
    }
    
    .gallery4 {
        background-image: url('../../assets/images/gallery-4.jpg');
    }
    
    .drink1 {
        background-image: url('../../assets/images/drink-1.jpg');
    }
    
    .drink2 {
        background-image: url('../../assets/images/drink-2.jpg');
    }
    
    .drink3 {
        background-image: url('../../assets/images/drink-3.jpg');
    }
    
    .drink4 {
        background-image: url('../../assets/images/drink-4.jpg');
    }
    
    .drink5 {
        background-image: url('../../assets/images/drink-5.jpg');
    }
    
    .drink6 {
        background-image: url('../../assets/images/drink-6.jpg');
    }
    
    .drink7 {
        background-image: url('../../assets/images/drink-7.jpg');
    }
    
    .drink8 {
        background-image: url('../../assets/images/drink-8.jpg');
    }
    
    .drink9 {
        background-image: url('../../assets/images/drink-9.jpg');
    }
    
    .burger1 {
        background-image: url('../../assets/images/burger-1.jpg');
    }
    
    .burger2 {
        background-image: url('../../assets/images/burger-2.jpg');
    }
    
    .burger3 {
        background-image: url('../../assets/images/burger-3.jpg');
    }
    
    .pasta1 {
        background-image: url('../../assets/images/pasta-1.jpg');
    }
    
    .pasta2 {
        background-image: url('../../assets/images/pasta-2.jpg');
    }
    
    .pasta3 {
        background-image: url('../../assets/images/pasta-3.jpg');
    }